.special{
    border-bottom: 1rem solid;
    border-bottom-color: rgb(0, 160, 78);
    font-size: medium;
    font-weight: bold;
}
body{
    background: linear-gradient(rgb(255, 255, 255), rgb(116, 255, 236));
}
.wak{
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 40px;
    padding-bottom:1px;
}
.ak{
    background: white;
    padding:1em;
}